.row
  .span8.js-dataset-list
    .text-center.js-remove-on-load
      =spinner


coffee:
  $ ->
    $.ajax
      url: '/sql_share/dataset_list'
      success: (data, status, xhr)->
        console.log data
        if data.status == "success"
          $('.js-remove-on-load').remove()
          $('.js-dataset-list').html(data.value)
    return