-if @graphs
  - i = 0
  .row
    -@graphs.each_slice(@columns) do |graphs|
      -graphs.each do |graph|
        .box[class="span#{12/@columns}"]
          -if @owner
            =link_to "", "#!", :class => "pull-right icon-remove js-remove-graph-from-bag", :"data-index" => i, :"data-toggle" => :tooltip, :"data-original-title" => "Remove graph from bag."

            .js-spinner style="display:none"
              .text-center
                p=spinner
                p Removing graph from bag
            .js-error.alert.alert-error style="display:none"

          .js-kill-me.text-center=spinner
          .js-graph.margin1[data-sql=graph["sql"] data-x-axis=graph["x_axis"] data-y-axes=graph["y_axes"].join(",") data-graph-type=graph["graph_type"] data-height=graph["height"]]
          .margin1
            =link_to "Show details", "#!", :class => "js-toggle-code "
            =link_to "Hide details", "#!", :class => "js-toggle-code ", :style => "display:none"
            pre.js-code style="display:none;"
              code.block
                .line 
                  span.semibold sql
                  | = #{graph["sql"]}
                .line 
                  span.semibold y_axes
                  | = #{graph["y_axes"].join(",")}
                .line 
                  span.semibold x_axis
                  | = #{graph["x_axis"]}
        -i += 1
        
-else
  .row
    .alert.alert-info
      | There are no graphs in this bag. 

javascript:
  window.bag_name = "#{@bag["name"]}"

coffee:
  $ -> 
    $('.js-graph').each ->
      $this = $(this)
      sql = $(this).attr "data-sql"
      x_axis = $(this).attr "data-x-axis"
      y_axes = $(this).attr("data-y-axes").split(",")
      graph_type = $(this).attr "data-graph-type"
      height = $(this).attr "data-height"

      request_data =  
        sql: sql
        x_axis: x_axis
        y_axes: y_axes
        graph_type: graph_type
        height: height

      $.ajax
        url:"/api/dataset"
        data: request_data
        success: (data)->
          $this.html data
          $this.parents('.box').find('.js-kill-me').remove()

    $('.js-toggle-code').click -> 
      $parent = $(this).parents('.box')
      $parent.find('.js-toggle-code, .js-code').toggle()

    $('.js-remove-graph-from-bag').tooltip()

    $('.js-remove-graph-from-bag').click -> 
      $parent = $(this).parents('.box')
      $parent.find('>*').hide()
      $parent.find('.js-spinner').show()

      index = $(this).attr 'data-index'
      $.ajax
        url: "/bags/remove_from_bag"
        data: {"index": index, "name": window.bag_name }
        success: (data) ->
          $parent.remove()
        error: (XHR) -> 
          $parent.find('.js-spinner').hide()
          $parent.find('.js-error').show().html("Failed to remove graph. Please try again later.")
