/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
 *= require nvd3-rails
 */
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "header";

body, h1, h2, h3, h4, h5, p, div, span, a{
  font-family: 'Raleway', sans-serif;
}
body{
  h1, h2, h3, h4, h5{
    font-weight: 300;
  }
  h1{font-size: 37px;}
  h2{font-size: 29px;}
  h3{font-size: 22px;}
  h4{font-size: 19px;}
  h5{font-size: 15px;}
  font-size: 12px;
}
.semibold{
  font-weight: 600;
}

.full-width{
  width: 100%;
}
.logo{
  color: black;
  margin-top: 17px;
  img{ padding-right: 10px; }
}
.spinner{
  height: 30px;
}
.text-tiny{
  font-size: 10px;
  h2 &{
    font-size: 14px;
  }
}

.stripped-popover{
  font-size: 14px;
  font-weight: 500;
  height: 250px;
}

body > .container{
  margin-bottom: 40px;
  word-wrap: break-word;
}
.row.bordered{
  margin-bottom: 5px;
  border-bottom: 1px solid #eee;
}
.fake-link{
  cursor:pointer;
}
.box{
  border:1px solid #eaeaea;
  @include box-sizing(border-box);
  overflow:hidden;
  margin-bottom: 12px;
  & > *:first-child{
    margin-top: 12px;
  }
  & > *{
    margin: 0 12px;
  }
}
code.block{
  display: block;
}

.margin1{
  margin-bottom: 10px;
}