@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3";
$background-sqlshare: #316b92;
$background-sqlshare-hover:  #4888B2;
$background-sqlshare-active: #3777A1;
$header-height: 40px;

header{
  background: $background-sqlshare;
  width: 100%;

  nav{
    padding: 0 auto;
    .primary-link{
      height: 100%;
      margin-top: 0;
      margin-bottom: 0;
      line-height: $header-height;
      float: left;
      padding: 0;
      @include transition (all 0.3s ease);
      a{
        color: #eaeaea;
        &:hover{
          text-decoration: none;
        }
      }
      &.active{
        background: $background-sqlshare-active;
      }
      &:hover{
        background: $background-sqlshare-hover;
        a{color: white;}
      }
    }
  }
  .primary-link > a{
    height: $header-height;
    width: 100%;
    display: block;
    padding: 0 30px;
  }
}
.gitgub-logo{
  height: 60%;
  vertical-align: center;
}