.row
  .span12.js-message-field#success
    h4.js-text.text-success
  .span12.js-message-field#failure
    h4.js-text.text-error
.row.js-new-credentials[style="#{@api_key ? 'display:none' : ''}"]
  .span6
    =form_for :key, :url => store_api_key_sessions_path, :remote => true, :html => {:id => "new-api-key"} do |f|
      =f.label :api_key do 
        h4 API key
      =f.text_field :api_key, :class => "js-api-key full-width", :placeholder=>"#{@api_key ? @api_key : 'Enter your API key'}"
      .help-block
        ' You can get your API key from
        =link_to 'here', '//sqlshare.escience.washington.edu/sqlshare/#s=credentials', :target => "_blank"
        .muted 
          ' We don't store it on a server; it's in the session, so no need to worry about it being stolen.
          | Don't believe me? Here's the code: 
          =link_to 'sqhshare_graphs', '//github.com/gaorlov/sqhshare_graphs', :target => "_blank"
      =f.submit 'Save API Key', :class => 'btn btn-primary'

.row.js-saved-credentials[style="#{@api_key ? '' : 'display:none'}"]
  .span12
    h4 
      ' You have a saved API key:
      span.muted.js-api-key=@api_key
    =link_to 'Update/change it', '#!', :class => 'js-update-api btn btn-warning'
    .muted Note: this will erase your previous key

coffee:
  $ -> 
    timeout = null
    $('.js-update-api').click -> 
      $('.js-saved-credentials').slideUp(->
        $('.js-new-credentials').slideDown()
      )
      
    wipeErrors = (time = 0)->
      clearTimeout(timeout)
      timeout = setTimeout( ->
        $('.js-message-field .js-text').fadeOut( ->
          $(this).html("")
          $(this).show()
        )
      , time
      )

    $('body').on("ajax:success", '#new-api-key', (status, data, xhr)->
      wipeErrors(0)
      if data.status == 'failure'
        $('.js-message-field#failure .js-text').html(data.error);
      else
        $('.js-message-field#success .js-text').html("Key is successfully updated to " + data.value.api_key);

        $('.js-new-credentials .js-api-key').attr('placeholder', data.value.api_key)

        $('.js-new-credentials').slideUp( ->
          $('.js-saved-credentials').slideDown()
          $('header .js-api-key, .js-saved-credentials .js-api-key').html(data.value.api_key)
        )
        $(".js-header-api-key-nav-button").html("API Key ").append($("<span class='icon-ok-sign'>"))
      wipeErrors(2000)
    )
    $('body').on('ajax:error', '#new-api-key', (status, data, xhr)->
      wipeErrors(0)
      $('.js-message-field#failure .js-text').html("An error has occured; your key cannot be saved. This probably means the server is sad and you should try again later.");
      wipeErrors(5000)
    )